.box {
  box-shadow: 0px 0px 7px #66ee99;
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-left: 2px;
  margin-bottom: -2px;
}

.off {
  background-color: #303030;
}

.on {
  background-color: #eee;
}

.off:hover {
  filter: brightness(150%);
}

.on:hover {
  filter: brightness(80%);
}
