.box {
  box-shadow: 0px 0px 7px #66ee99;
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-left: 2px;
  margin-bottom: -3px;
}

.off {
  background-color: #303030;
}

.on {
  background-color: #eee;
}

.off:hover {
  background-color: #66ee99;
  filter: brightness(70%);
}

.on:hover {
  filter: brightness(70%);
}
