#title {
  font-size: 2em;
}
a {
  color: #66d088
}

button {
  font-family: monospace;
  font-size: 13px;
  color: #d3d3d3;
  background-color: #2e2e2e;
  border: 2px dashed #66c088;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  filter: brightness(150%);
}
